.navbar{
    background-color: #000000;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
    box-shadow: rgba(61, 61, 81, 0.1) 0px 1px 0px;
}
.navbar a {
    color:white !important;
}
.btn-hero{
  background-color: #052427 !important;  
  border: none;
  color: white;
}
.nav-color{
    color: #ffffff !important;
    background-color: #ffffff;
}